<template>
  <form>
    formulaire d'édition de {{ addressToEdit.title }}
    <br>
    <template
      v-for="field in fields"
      :key="field.name"
    >
      {{ field.label }} :
      <input
        :value="addressToEdit[field.name]"
        @input="update(field.name, $event.target.value)"
      >
      <!-- <input
        v-model="addressInternal[field.name]"
      /> -->
      <br>
    </template>
  </form>
  <button @click="$emit('close')">Close</button>
</template>

<script>
export default {
  emits: [
    'close',
    'update:addressToEdit'
  ],
  props: {
    addressToEdit: {
      type: Object,
      required: true,
      default: () => ({})
    },
    fields: {
      type: Array,
      required: true
    }
  },
  // data () {
  //   return {
  //     addressInternal: this.addressToEdit
  //   }
  // }
  methods: {
    update (key, val) {
      this.$emit('update:addressToEdit', {
        ...this.addressToEdit,
        [key]: val
      })
    }
  }
}
</script>
