<template>
  <div id="nav">
    <router-link to="/">
      {{ $t('links.home') }}
    </router-link> |
    <router-link to="/about">
      {{ $t('links.about') }}
    </router-link> |
    <router-link to="/search">
      {{ $t('links.search') }}
    </router-link>
  </div>
  <select v-model="$i18n.locale">
    <option
      v-for="locale in $i18n.availableLocales"
      :key="`locale-${locale}`"
      :value="locale"
    >{{ locale }}</option>
  </select>
  {{ toto.from.city }}
  {{ fromCity }}
  <router-view v-slot="{ Component }">
    <transition name="fade-x" mode="out-in">
      <component :is="Component" />
    </transition>
  </router-view>
</template>

<script>
import { store } from '@/store'
import useAddress from '@/composables/useAddress.js'

export default {
  name: 'tp-leaflet',
  data () {
    const {
      addressState
    } = useAddress()
    return {
      toto: store.state,
      fromCity: addressState.from.city
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
.fade-x-enter-from,
.fade-x-leave-to {
  opacity: 0;
  transform: translateX(20px);
}

.fade-x-enter-active,
.fade-x-leave-active {
  transition: opacity 1s, transform 1s;
}
</style>
